@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  /* border: solid 1px red; */
}
body {
  background: #eee;
}
h2 {
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    padding: 1em 1em;
}
.product_container {
    max-width: 300px;
    margin: 0 auto;
    background: lightgray;
    padding: 15px 15px;
    border-radius: 5px;
}

.product_container img {
    width: 100%;
    object-fit: cover !important;
    border-radius: 15px;
}
button#abrir-modal {
    padding: 0.5em 2em;
    border-radius: 20px;
    background-color: orange;
    border: none;
    max-width: 200px;
}
button#cerrar-modal{
    margin: 20px ;
    align-self: flex-end;
}
button#cerrar-modal .bx {
    font-size: 2em;
    color: #000;
    background-color: #fff;
}

.bx {
   font-family: Poppins;
   font-weight: 700;
}
#contenido_form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    background: #fff;
    top: 0;
}
#contenido_form::before{
    
    margin: auto;
}